{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "no-param-reassign": "off"
  }
}
